<!DOCTYPE HTML>
<html>
	<head>
		<title>404!!</title>
		<meta charset="UTF8"/>
		<link href="http://localhost:3000/resources/404/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<h1 style="color:#25B7E8" >Upssss!!</h1>
					</div>
				</div>
			<!---End-header---->
			<!--start-content------>
			<div class="content">
				<img src="http://localhost:3000/resources/404/images/error-img.png" title="error" />
				<p><span><label>O</label>hooo.....</span> Her ne arıyorsan yanlış yerdesin be kardeşim!!</p>
				<a href="http://www.campusilan.com">Anasayfaya Dön</a>
				<div class="copy-right">
					<p>&copy; <a href="http://www.campusilan.com">Campus İlan</a> | Üniversitelilerin ilan sitesi.</p>
				</div>
   			</div>
			<!--End-Cotent------>
		</div>
		<!--End-wrap--->
	</body>
</html>

