<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Şifreniz Değiştirildi</title>



</head>

<body >

	<img src="http://campusilan.turbulence6th.com/resources/images/logo.png"/>

	
	<p>	Şifreniz başarıyla değiştirildi. </p> 

	
	<p>Yeni şifreniz:<%= @user.password %> </p>
		
		


<p>Bizi tercih ettiğiniz için teşekkür ederiz. </p>
<p style="color:#2E86A3;">Campus İlan - Üniversitelilerin ilan sitesi  </p>


</body>
</html>
