
<!DOCTYPE html>

<html>



<head>


<title>Odtü İlan</title>
<meta charset="utf-8">

<META http-equiv=content-type content=text/html;charset=iso-8859-9>
<META http-equiv=content-type content=text/html;charset=windows-1254>
<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->

<link href="resources/css/bootstrap.min.css" rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
         queries -->
<!-- WARNING: Respond.js doesn't work if you view the page 
         via file:// -->
<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
            html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
            respond.min.js"></script>
      <![endif]-->


<!--plugins: -->




<!-- dropdown login box -->



<link rel="stylesheet"
	href="resources/plugins/dropdownloginbox/css/style.css" />

<script src="resources/plugins/dropdownloginbox/js/login.js"></script>




<!-- Fixed Header -->

<link rel="stylesheet" href="resources/assets/header-fixed.css">


<link href='http://fonts.googleapis.com/css?family=Cookie'
	rel='stylesheet' type='text/css'>


<!-- Fixed Header sonu -->






<!-- Cssmenu-3 -->





<link rel="stylesheet" href="resources/plugins/cssmenu-3/styles.css">
<script src="resources/plugins/cssmenu-3/script.js"></script>




<!-- end of plugins  -->




<style>
body {
	padding: 50px;
}

.nav-pills>li>a:hover {
	color: #fff;
	background-color: #337ab7
}
</style>


</head>




<body>

	<div class="container-fluid">


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


		<!-- Include all compiled plugins (below), or include individual files 
                as needed -->
		<script src="resources/js/bootstrap.min.js"></script>


		<div class="row" style="margin-bottom: 10px;">

			<!-- Login Starts Here -->

			<%= render "loginContainer" %>

			<!-- Login Ends Here -->



		</div>



		<div class="row">




			<%= render "headerfixed" %>

		</div>

		<div class="row" style="margin-top: 5px;">


			<div>

				<div class="row headernav"
					style="background: #E6F3FF; border: 1px solid black; margin-top: 10px; padding: 7px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">


					<ul class="nav nav-pills">
						<li><a href="#">Acil İlanlar</a></li>
						<li><a href="#">Günün Fırsatları</a></li>
						<li><a href="#">En Popüler İlanlar</a></li>
						<li><a href="#">En Son İlanlar</a></li>
						<li><a href="#">Fiyatı Düşenler</a></li>
						<li><a href="#">En Güvenilir Satıcılar</a></li>
						<li><a href="#">En Yakında Olan Satıcılar</a></li>

					</ul>

				</div>


			</div>

		</div>




		<div class="row"
			style="height: 60%; padding-bottom: 20px; margin-bottom: 30px; margin-top: 30px;">

			<div class="row" style="padding-left: 20px; padding-right: 20px;">


				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">


					<div id='cssmenu' style="margin-bottom: 20px;">
						<ul>
							<li class='has-sub active'><a href='#'><span>Kullanıcı
										Paneli</span></a>
								<ul>
									<li><a href='#'><span>Profilim</span></a></li>
									<li><a href='#'><span>İlan Ver</span></a></li>
									<li class='last'><a href='#'><span>Satışlarım</span></a></li>
									<li class='last'><a href='#'><span>Alışlarım</span></a></li>
									<li class='last'><a href='#'><span>Favorilerim</span></a></li>
									<li class='last'><a href='#'><span>Mesajlarım</span></a></li>
									<li class='last'><a href='#'><span>Tekliflerim</span></a></li>
									<li class='last'><a href='#'><span>İncelediğim
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Hesap
												Ayarları</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>Kategoriler</span></a>
								<ul>
									<li><a href='#'><span>İkinci El İlan</span></a></li>
									<li><a href='#'><span>Ev Arkadaşı</span></a></li>
									<li class='last'><a href='#'><span>Ders Notları</span></a></li>
									<li class='last'><a href='#'><span>Özel Ders</span></a></li>
									<li class='last'><a href='#'><span>Ev İlanları</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>Fırsatlar
										Paneli</span></a>
								<ul>
									<li><a href='#'><span>Acil İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Günün
												Fırsatları</span></a></li>
									<li class='last'><a href='#'><span>En Son
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>En Popüler
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Fiyatı
												Düşenler</span></a></li>
									<li class='last'><a href='#'><span>En Güvenilir
												Satıcılar</span></a></li>
									<li class='last'><a href='#'><span>En Yakında
												Olan Satıcılar</span></a></li>
								</ul></li>
							<li class='last'><a href='#'><span>Yardım</span></a></li>
							<li class='last'><a href='#'><span>İletişim</span></a></li>

						</ul>
					</div>






					<div class="well">

						Buraya kafana göre bir şeyler ekle...<br> ...<br> ...<br>
						...<br> ...<br> ...<br> ...<br> ...<br>
						...<br>

					</div>



				</div>




				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
					style="padding-left: 20px; padding-right: 20px">



					<div class="col-md-12">
						<h4>Bootstrap Snipp for Datatable</h4>
						<div class="table-responsive">


							<table id="mytable" class="table table-bordred table-striped">

								<thead>

									<th><input type="checkbox" id="checkall" /></th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Address</th>
									<th>Email</th>
									<th>Contact</th>
									<th>Edit</th>

									<th>Delete</th>
								</thead>
								<tbody>

									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td>Mohsin</td>
										<td>Irshad</td>
										<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
										<td>isometric.mohsin@gmail.com</td>
										<td>+923335586757</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td>
									</tr>

									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td>Mohsin</td>
										<td>Irshad</td>
										<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
										<td>isometric.mohsin@gmail.com</td>
										<td>+923335586757</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td>
									</tr>


									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td>Mohsin</td>
										<td>Irshad</td>
										<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
										<td>isometric.mohsin@gmail.com</td>
										<td>+923335586757</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td>
									</tr>



									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td>Mohsin</td>
										<td>Irshad</td>
										<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
										<td>isometric.mohsin@gmail.com</td>
										<td>+923335586757</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td>
									</tr>


									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td>Mohsin</td>
										<td>Irshad</td>
										<td>CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan</td>
										<td>isometric.mohsin@gmail.com</td>
										<td>+923335586757</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td>
									</tr>





								</tbody>

							</table>

							<div class="clearfix"></div>
							<ul class="pagination ">
								<li class="disabled"><a href="#"><span
										class="glyphicon glyphicon-chevron-left"></span></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#"><span
										class="glyphicon glyphicon-chevron-right"></span></a></li>
							</ul>

						</div>

					</div>






					<div class="modal fade" id="edit" tabindex="-1" role="dialog"
						aria-labelledby="edit" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<h4 class="modal-title custom_align" id="Heading">Edit
										Your Detail</h4>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<input class="form-control " type="text" placeholder="Mohsin">
									</div>
									<div class="form-group">

										<input class="form-control " type="text" placeholder="Irshad">
									</div>
									<div class="form-group">
										<textarea rows="2" class="form-control"
											placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


									</div>
								</div>
								<div class="modal-footer ">
									<button type="button" class="btn btn-warning btn-lg"
										style="width: 100%;">
										<span class="glyphicon glyphicon-ok-sign"></span> Update
									</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>



					<div class="modal fade" id="delete" tabindex="-1" role="dialog"
						aria-labelledby="edit" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<h4 class="modal-title custom_align" id="Heading">Delete
										this entry</h4>
								</div>
								<div class="modal-body">

									<div class="alert alert-danger">
										<span class="glyphicon glyphicon-warning-sign"></span> Are you
										sure you want to delete this Record?
									</div>

								</div>
								<div class="modal-footer ">
									<button type="button" class="btn btn-success">
										<span class="glyphicon glyphicon-ok-sign"></span> Yes
									</button>
									<button type="button" class="btn btn-default"
										data-dismiss="modal">
										<span class="glyphicon glyphicon-remove"></span> No
									</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>















				</div>




















			</div>







			<footer
				style="clear: both; float: bottom; background-color: #E1E1E3; padding: 30px;">

				<div class="row">



					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

						<p>
							<b> Hizmetlerimiz</b>
						</p>
						<ul>

							<li><a href="#">İkinci El İlan Alım &amp; Satım</a></li>
							<li><a href="#">Ev Arkadaşı Arama &amp; Bulma</a></li>
							<li><a href="#">Ders Notu Alım &amp; Satım</a></li>
							<li><a href="#">Özel Ders Alma &amp; Verme</a></li>



						</ul>





					</div>




					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">




						<p>
							<b>Kurumsal</b>
						</p>
						<ul>

							<li><a href="#">Hakkımızda</a></li>
							<li><a href="#">Duyurular</a></li>
							<li><a href="#">Risksiz Alışveriş Sistemi</a></li>
							<li><a href="#">İletişim</a></li>


						</ul>



					</div>




					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">



						<p>
							<b> Yardım</b>
						</p>
						<ul>

							<li><a href="#">Nasıl İlan Ekleyebilirim?</a></li>
							<li><a href="#">Nasıl Ürün Satın Alırım?</a></li>
							<li><a href="#">Kullanım Koşulları</a></li>
							<li><a href="#">Daha Fazla Yardım</a></li>



						</ul>



					</div>



					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">



						<p>
							<b>Reklam Verme</b>
						</p>
						<ul>

							<li><a href="#">Reklam Verme Koşulları</a></li>
							<li><a href="#">Reklam Özellikleri</a></li>
							<li><a href="#">İletişim</a></li>



						</ul>



					</div>










				</div>





			</footer>

			<div>


				<p style="float: right; margin-right: 20px; margin-top: 5px;">
					©2015 ODTÜ İLAN&nbsp;&nbsp;&nbsp;&nbsp;<a
						href="http://www.odtuilan.com">odtuilan.com</a>
				</p>



			</div>




		</div>





		<!-- pluginler -->


		<!--  fixed header -->

		<%= render "headerfixedjs" %>




		<!--  Mesajlar paneli -->


		<script type="text/javascript">
			$(document).ready(function() {
				$("#mytable #checkall").click(function() {
					if ($("#mytable #checkall").is(':checked')) {
						$("#mytable input[type=checkbox]").each(function() {
							$(this).prop("checked", true);
						});

					} else {
						$("#mytable input[type=checkbox]").each(function() {
							$(this).prop("checked", false);
						});
					}
				});

				$("[data-toggle=tooltip]").tooltip();
			});
		</script>
</body>



</html>