<!DOCTYPE html>

<html>



<head>


<title>Odtü İlan</title>
<meta charset="utf-8">

<META http-equiv=content-type content=text/html;charset=iso-8859-9>
<META http-equiv=content-type content=text/html;charset=windows-1254>
<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->

<link href="resources/css/bootstrap.min.css" rel="stylesheet">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
         queries -->
<!-- WARNING: Respond.js doesn't work if you view the page 
         via file:// -->
<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
            html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
            respond.min.js"></script>
      <![endif]-->


<!--plugins: -->




<!-- dropdown login box -->



<link rel="stylesheet"
	href="resources/plugins/dropdownloginbox/css/style.css" />

<script src="resources/plugins/dropdownloginbox/js/login.js"></script>




<!-- Fixed Header -->

<link rel="stylesheet" href="resources/assets/header-fixed.css">


<link href='http://fonts.googleapis.com/css?family=Cookie'
	rel='stylesheet' type='text/css'>


<!-- Fixed Header sonu -->






<!-- Cssmenu-3 -->





<link rel="stylesheet" href="resources/plugins/cssmenu-3/styles.css">
<script src="resources/plugins/cssmenu-3/script.js"></script>




<!-- end of plugins  -->




<style>
body {
	padding: 50px;
}

.nav-pills>li>a:hover {
	color: #fff;
	background-color: #337ab7
}
</style>


</head>




<body>

	<div class="container-fluid">


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


		<!-- Include all compiled plugins (below), or include individual files 
                as needed -->
		<script src="resources/js/bootstrap.min.js"></script>


		<div class="row" style="margin-bottom: 10px;">

			<!-- Login Starts Here -->

			<tags:loginContainer />

			<!-- Login Ends Here -->



		</div>



		<div class="row">




			<tags:header-fixed />

		</div>

		<div class="row" style="margin-top: 5px;">


			<div>

				<div class="row headernav"
					style="background: #E6F3FF; border: 1px solid black; margin-top: 10px; padding: 7px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">


					<ul class="nav nav-pills">
						<li><a href="#">Acil İlanlar</a></li>
						<li><a href="#">Günün Fırsatları</a></li>
						<li><a href="#">En Popüler İlanlar</a></li>
						<li><a href="#">En Son İlanlar</a></li>
						<li><a href="#">Fiyatı Düşenler</a></li>
						<li><a href="#">En Güvenilir Satıcılar</a></li>
						<li><a href="#">En Yakında Olan Satıcılar</a></li>

					</ul>

				</div>


			</div>

		</div>




		<div class="row"
			style="height: 60%; padding-bottom: 20px; margin-bottom: 30px; margin-top: 30px;">

			<div class="row" style="padding-left: 20px; padding-right: 20px;">


				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">


					<div id='cssmenu' style="margin-bottom: 20px;">
						<ul>
							<li class='has-sub active'><a href='#'><span>Kullanıcı
										Paneli</span></a>
								<ul>
									<li><a href='#'><span>Profilim</span></a></li>
									<li><a href='#'><span>İlan Ver</span></a></li>
									<li class='last'><a href='#'><span>Satışlarım</span></a></li>
									<li class='last'><a href='#'><span>Alışlarım</span></a></li>
									<li class='last'><a href='#'><span>Favorilerim</span></a></li>
									<li class='last'><a href='#'><span>Mesajlarım</span></a></li>
									<li class='last'><a href='#'><span>Tekliflerim</span></a></li>
									<li class='last'><a href='#'><span>İncelediğim
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Hesap
												Ayarları</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>Kategoriler</span></a>
								<ul>
									<li><a href='#'><span>İkinci El İlan</span></a></li>
									<li><a href='#'><span>Ev Arkadaşı</span></a></li>
									<li class='last'><a href='#'><span>Ders Notları</span></a></li>
									<li class='last'><a href='#'><span>Özel Ders</span></a></li>
									<li class='last'><a href='#'><span>Ev İlanları</span></a></li>
								</ul></li>
							<li class='has-sub'><a href='#'><span>Fırsatlar
										Paneli</span></a>
								<ul>
									<li><a href='#'><span>Acil İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Günün
												Fırsatları</span></a></li>
									<li class='last'><a href='#'><span>En Son
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>En Popüler
												İlanlar</span></a></li>
									<li class='last'><a href='#'><span>Fiyatı
												Düşenler</span></a></li>
									<li class='last'><a href='#'><span>En Güvenilir
												Satıcılar</span></a></li>
									<li class='last'><a href='#'><span>En Yakında
												Olan Satıcılar</span></a></li>
								</ul></li>
							<li class='last'><a href='#'><span>Yardım</span></a></li>
							<li class='last'><a href='#'><span>İletişim</span></a></li>

						</ul>
					</div>






					<div class="well">

						Buraya kafana göre bir şeyler ekle...<br> ...<br> ...<br>
						...<br> ...<br> ...<br> ...<br> ...<br>
						...<br>

					</div>



				</div>




				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
					style="padding-left: 20px; padding-right: 20px">

					<div style="">

						<div class="panel panel-info">

							<div class="panel-heading">
								<h3 style="text-align: center;" class="panel-title">Satışlarım</h3>
							</div>

							<div class="panel-body">

								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>



								</div>






								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>



								</div>





							</div>




							<ul style="margin-left: 30%;" class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>


						</div>







					</div>





					<div style="">

						<div class="panel panel-info">

							<div class="panel-heading">
								<h3 style="text-align: center;" class="panel-title">Alışlarım</h3>
							</div>

							<div class="panel-body">

								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>



								</div>






								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>

								</div>


								<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">

									<div class="thumbnail">
										<a href="#"> <img src="resources/images/cat-demo.jpg"
											alt="cat demo photo"> </img>
										</a>



									</div>

									<div class="caption">

										<h3>Thumbnail label</h3>
										<p>Some sample text.</p>

									</div>



								</div>





							</div>




							<ul style="margin-left: 30%;" class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>



						</div>







					</div>









				</div>




















			</div>







			<footer
				style="clear: both; float: bottom; background-color: #E1E1E3; padding: 30px;">

				<div class="row">



					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

						<p>
							<b> Hizmetlerimiz</b>
						</p>
						<ul>

							<li><a href="#">İkinci El İlan Alım &amp; Satım</a></li>
							<li><a href="#">Ev Arkadaşı Arama &amp; Bulma</a></li>
							<li><a href="#">Ders Notu Alım &amp; Satım</a></li>
							<li><a href="#">Özel Ders Alma &amp; Verme</a></li>



						</ul>





					</div>




					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">




						<p>
							<b>Kurumsal</b>
						</p>
						<ul>

							<li><a href="#">Hakkımızda</a></li>
							<li><a href="#">Duyurular</a></li>
							<li><a href="#">Risksiz Alışveriş Sistemi</a></li>
							<li><a href="#">İletişim</a></li>


						</ul>



					</div>




					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">



						<p>
							<b> Yardım</b>
						</p>
						<ul>

							<li><a href="#">Nasıl İlan Ekleyebilirim?</a></li>
							<li><a href="#">Nasıl Ürün Satın Alırım?</a></li>
							<li><a href="#">Kullanım Koşulları</a></li>
							<li><a href="#">Daha Fazla Yardım</a></li>



						</ul>



					</div>



					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">



						<p>
							<b>Reklam Verme</b>
						</p>
						<ul>

							<li><a href="#">Reklam Verme Koşulları</a></li>
							<li><a href="#">Reklam Özellikleri</a></li>
							<li><a href="#">İletişim</a></li>



						</ul>



					</div>










				</div>





			</footer>

			<div>


				<p style="float: right; margin-right: 20px; margin-top: 5px;">
					©2015 ODTÜ İLAN&nbsp;&nbsp;&nbsp;&nbsp;<a
						href="http://www.odtuilan.com">odtuilan.com</a>
				</p>



			</div>




		</div>
		
		
		<!-- pluginler -->
            
            
            <!--  fixed header -->
            
            <tags:header-fixed-js/>
		
		
</body>



</html>
