<header style="z-index:4;" class="header-fixed">

	<div  class="header-limiter">

		<h1><a href="/">Campus<span> ilan</span></a></h1>

		

	</div>
	
	<div id="birincikisim" class="hidden-xs hidden-sm" style="float:right;">

			<!-- Login Starts Here -->
			<%= render "loginContainer" %>
			<!-- Login Ends Here -->
		</div>

</header>