<% if current_user && current_user.role == 'admin' %>
Page Rendered in <%= sprintf('%.3f', (Time.now.to_f - @start_time) ) %> seconds
<% end %>

<header style="z-index:4;padding-right:2%;" class="header-fixed">

	<div  style="float:left;"class="hidden-xs header-limiter">

		<h1 class="hidden-xs"><a href="/">Campus<span> ilan</span><span style="font: normal 10px  Arial, Helvetica, sans-serif;color:#828485">&nbsp;beta</span></a></h1>
		<h1 class="visible-xs"><a href="/">Campus<span> ilan</span><span style="font: normal 7px  Arial, Helvetica, sans-serif;color:#828485">&nbsp;beta</span></a></h1>

	</div>

	<div  class="visible-xs header-limiter">

		<h1 class="hidden-xs"><a href="/">Campus<span> ilan</span><span style="font: normal 10px  Arial, Helvetica, sans-serif;color:#828485">&nbsp;beta</span></a></h1>
		<h1 class="visible-xs"><a href="/">Campus<span> ilan</span><span style="font: normal 7px  Arial, Helvetica, sans-serif;color:#828485">&nbsp;beta</span></a></h1>

	</div>

	<div id="birincikisim" class="hidden-xs" style="float:right;">

		<!-- Login Starts Here -->
		<%= render "loginContainer" %>
		<!-- Login Ends Here -->
	</div>

</header>