<h4  class="add-to item_price">Fiyat: <span style="color:red;" ><%= @advert.price %>&#8378;</span></h4>
<br>

<h4  class="add-to item_price">Ürün Rengi: <span style="color:red;" ><%= @advertable.color %></span></h4>
<br>

<h4  class="add-to item_price">Marka: <span style="color:red;" ><%= @advertable.brand %></span></h4>
<br>

<h4  class="add-to item_price">Kullanım Durumu: <% if @advertable.usage %> <span style="color:red;" >Sıfır</span> <% else %> <span style="color:red;" >İkinci El</span> <% end %> </h4>
<br>

<h4  class="add-to item_price">Garanti Durumu: <% if @advertable.warranty %> <span style="color:red;" >Var</span> <% else %> <span style="color:red;" >Yok</span> <% end %> </h4>
<br>
