<h4  class="add-to item_price">Aylık Kira: <%= @advert.price %>&#8378;</h4>
<br>
<h4  class="add-to item_price">Şehir: <%= @advertable.city.slice(0,1).capitalize + @advertable.city.slice(1..-1) %></h4>
<br>
<h4  class="add-to item_price">Semt: <%= @advertable.state.slice(0,1).capitalize + @advertable.state.slice(1..-1) %></h4>
<br>
<h4  class="add-to item_price">Aranan: <%= @advertable.aranan %></h4>
<br>
