<div class=" rsidebar span_1_of_left">
	<h3 style="margin-bottom:10px;"class="cate">Kategoriler</h3>

	<ul class="menu-drop">
		<li class="item1">
			<a href="#">İkinci El İlan </a>
			<ul class="cute">
				<li class="subitem1">
					<a href="single.html">Beyaz Eşya </a>
				</li>
				<li class="subitem2">
					<a href="single.html">Ev Dekorasyonu </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Müzik Aletleri </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Elektronik </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Kırtasiye </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Mutfak Eşyaları </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Diğer </a>
				</li>
			</ul>
		</li>
		<li class="item2">
			<a href="#">Ev Arkadaşı </a>
			
		</li>
		<li class="item3">
			<a href="#">Ders Notları</a>
			<ul class="cute">
				<li class="subitem1">
					<a href="single.html">Cute Kittens </a>
				</li>
				<li class="subitem2">
					<a href="single.html">Strange Stuff </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Automatic Fails</a>
				</li>
			</ul>
		</li>
		<li class="item4">
			<a href="#">Özel Ders</a>
			<ul class="cute">
				<li class="subitem1">
					<a href="single.html">Cute Kittens </a>
				</li>
				<li class="subitem2">
					<a href="single.html">Strange Stuff </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Automatic Fails</a>
				</li>
			</ul>
		</li>

		<li class="item4">
			<a href="#">Shoes</a>
			<ul class="cute">
				<li class="subitem1">
					<a href="single.html">Cute Kittens </a>
				</li>
				<li class="subitem2">
					<a href="single.html">Strange Stuff </a>
				</li>
				<li class="subitem3">
					<a href="single.html">Automatic Fails </a>
				</li>
			</ul>
		</li>
	</ul>
</div>