

<% if current_user!=nil %>


<!--  sadece xsmall larda gözükecek -->

					<div style="padding-left: 50px; margin-top: 50px;"
					class="row visible-xs">

						<div class="row">

							<button type="button" class="col-xs-3 col-sm-2 btn btn-success">
								<span style="">Profilim</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3  col-sm-2 btn btn-primary">
								<span style="">İlan Ver</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-info">
								<span style="font-size:11px;">Satışlarım</span>
							</button>

						</div>

						<div style="margin-top: 10px;" class="row">

							<button type="button" class="col-xs-3 col-sm-2 btn btn-danger">
								<span style="">Alışlarım</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-success">
								<span style="font-size:10px;">Favorilerim</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-warning">
								<span style="font-size:10px;">Mesajlarım</span>
							</button>

						</div>

						<div style="margin-top: 10px;" class="row">

							<button type="button" class="col-xs-3 col-sm-2 btn btn-primary">
								<span style="font-size:12px;">Tekliflerim</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-danger">
								<span style="font-size:9px;">İncelediklerim</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-info">
								<span >Ayarlar</span>
							</button>

						</div>

						<div style="margin-top: 10px;" class="row">

							<button type="button"
							class="col-xs-3 col-sm-2 btn btn-info">
								<span style="">Fırsatlar</span>
							</button>

							<button style="margin-left:10px;" type="button" class="col-xs-3 col-sm-2 btn btn-primary">
								<span style="font-size:10px;">Kategoriler</span>
							</button>
						</div>

					</div>

					<!--  sadece small cihazlarda(small,medium) gözükecek -->

					<div style="padding-left: 75px; margin-top: 50px;"
					class="row visible-sm visible-md">

						<div class="row">

							<button type="button" class=" col-sm-2 btn btn-success">
								Profilim
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-primary">
								İlan Ver
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-info">
								Satışlarım
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-sm-2 btn btn-danger">
								Alışlarım
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-success">
								Favorilerim
							</button>

						</div>

						<div style="margin-top: 20px;" class="row">

							<button style="" type="button" class=" col-sm-2 btn btn-warning">
								Mesajlarım
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-danger">
								Tekliflerim
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-success">
								<span style="">İncelediklerim</span>
							</button>

							<button style="margin-left: 10px;" type="button"
							class=" col-sm-2 btn btn-info">
								Hesap Ayarları
							</button>

							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-info">
								<span style="">Fırsatlar Paneli</span>
							</button>

						</div>

						<div style="margin-top: 20px;" class="row">

							<button type="button" class="col-xs-3 col-sm-2 btn btn-primary">
								<span style="">Kategoriler</span>
							</button>

						</div>

					</div>

		
	
	
	<%else %>
	
	
	<div style="padding-left: 50px; margin-top: 50px;"
					class="row visible-sm visible-md">

						<div class="row">
							
							<button style="margin-left: 10px;" type="button"
							class="col-xs-3 col-sm-2 btn btn-info">
								<span style="">Fırsatlar Paneli</span>
							</button>
							
							<button type="button" class="col-xs-3 col-sm-2 btn btn-primary">
								<span style="">Kategoriler</span>
							</button>
						</div>
</div>

	<%end%>	