<div id="loginContainer">
	<a href="#" id="loginButton"><span>Giriş Yap &amp; Kaydol</span><em></em></a>
	<div style="clear: both"></div>
	<div id="loginBox">
		<form id="loginForm" action="login" method="post">
			<fieldset id="body">
				<fieldset>
					<label for="username">Kullanıcı Adı</label> <input type="text"
						name="username" />
				</fieldset>
				<fieldset>
					<label for="password">Şifre</label> <input type="password"
						name="password" />
				</fieldset>
				<input type="submit" id="login" value="Sign in" /> <label
					for="checkbox"> <input type="checkbox" id="checkbox" />Beni
					hatırla
				</label>
			</fieldset>
			<span><a href="#">Şifreni mi unuttun?</a></span>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		</form>
	</div>
</div>