<div id="loginContainer">
	<a href="#" id="loginButton"><span>Giriş Yap &amp; Kaydol</span><em></em></a>
	<div style="clear: both"></div>
	<div id="loginBox">
		<form id="loginForm">
			<fieldset id="body">
				<fieldset>
					<label for="email">E-posta Adresi</label> <input type="text"
						name="email" id="email" />
				</fieldset>
				<fieldset>
					<label for="password">Şifre</label> <input type="password"
						name="password" id="password" />
				</fieldset>
				<input type="submit" id="login" value="Sign in" /> <label
					for="checkbox"> <input type="checkbox" id="checkbox" />Beni
					hatırla
				</label>
			</fieldset>
			<span><a href="#">Şifreni mi unuttun?</a></span>
		</form>
	</div>
</div>