<div style="margin-bottom: 2%">

	<div style="">

		<ul id="main-menu" class="sm sm-blue" style="border-radius: 0">
			<li><a href="/">Babasayfa</a></li>
			<li><a href="#">Kategoriler</a>
				<ul>
					<li><a href="#">İkinci El İlan</a></li>
					
					<li><a href="#">Ev Arkadaşı</a></li>
					<li><a href="#">Ders Notları</a></li>
					<li><a href="#">Özel Ders</a></li>
					
				</ul>
				
			</li>
			<li><a href="/aramasonuclari">Arama Formu</a></li>
			<li><a href="/hakkimizda">Hakkımızda</a></li>
			<li><a href="/iletisim">İletişim</a></li>

			<div class="hidden-xs" style="float: right; margin: 6px;">
				<form>
					<input type="search" placeholder="Arama">
				</form>
			</div>
		</ul>

	</div>

</div>