<div class="smartmenus" style="margin-bottom: 2%">

	<div style="z-index: 3;">

		<ul id="main-menu" class="sm sm-blue" style="z-index: 3;border-radius: 0">
			<li><a href="/">Anasayfa</a></li>
			<li><a href="/kategoriler">Kategoriler</a>
				<ul>
					<li><a href="/kategoriler/ikincielilan">İkinci El İlan</a></li>
					
					<li><a href="/kategoriler/evarkadasi">Ev Arkadaşı</a></li>
					<li><a href="/kategoriler/ozelders">Özel Ders</a></li>
					
				</ul>
				
			</li>
			<li><a href="/universiteler">Üniversiteler</a>
				
				<ul>
					
					<% topUniversities.each do |record| %>
					<li><a href="/universiteler/?universities=<%= University.find_by(name: record['name']).id %>"><%= record['name'] + " (" + record['count'] + ")" %></a></li>
					<% end %>
				</ul>
				
			</li>
			
			<li><a href="/aramasonuclari">Arama Formu</a></li>
			<li><a href="/hakkimizda">Hakkımızda</a></li>
			<li><a href="/iletisim">İletişim</a></li>

			<div class="hidden-xs" style="float: right; margin: 6px;">
				<form>
					<input type="search" placeholder="Arama">
				</form>
			</div>
		</ul>

	</div>

</div>